# Project information
site_name: SAFE Documentation
site_description: Documentation for SAFE
site_author: SAFE Stack
site_url: http://safe-stack.github.io/docs/

# Repository
repo_name: SAFE-Stack/docs
repo_url: https://github.com/SAFE-Stack/docs
theme:
  name: 'material'
  custom_dir: 'theme'
  palette:
    primary: 'light blue'
    accent: 'indigo'
  logo: img/safe_favicon.png

markdown_extensions:
  - codehilite
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format

extra_css:
  - https://unpkg.com/mermaid@8.7.0/dist/mermaid.css
extra_javascript:
  - https://unpkg.com/mermaid@8.7.0/dist/mermaid.min.js

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/SAFE-Stack
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/safe_stack
    - icon: fontawesome/solid/globe
      link: https://safe-stack.github.io/

nav:
- Home: 'index.md'
- Introduction: 'intro.md'
- Quick Start: 'quickstart.md'
- SAFE Stack Overview: 'overview.md'
- Components of SAFE:
  - Learn about Saturn : 'component-saturn.md'
  - Learn about Azure : 'component-azure.md'
  - Learn about Fable : 'component-fable.md'
  - Learn about Elmish : 'component-elmish.md'
- The SAFE Template:
  - Overview: 'template-overview.md'
  - Commands: 'template-safe-commands.md'
- Features of SAFE:
  - Client / Server Sharing:
    - Sharing Overview : 'feature-clientserver.md'
    - Sharing Types and Code : 'feature-clientserver-basics.md'
    - Messaging using HTTP : 'feature-clientserver-http.md'
    - Messaging with Protocols : 'feature-clientserver-remoting.md'
    - Stateful Messaging through Bridge : 'feature-clientserver-bridge.md'
    - Serialization in SAFE : 'feature-clientserver-serialization.md'
  - Server Side Rendering : 'feature-ssr.md'
  - Hot Module Replacement : 'feature-hmr.md'
  - Working with Azure functions : 'feature-azurefunctions.md'
- How do I...:
  - Upgrade from V2 to V3 : 'recipes/upgrading/v2-to-v3.md'
  - Upgrade from V3 to V4 : 'recipes/upgrading/v3-to-v4.md'
  - Create a new Recipe: 'recipes/template.md'
  - Build:
    - Add build automation: 'recipes/build/add-build-script.md'
    - Remove FAKE: 'recipes/build/remove-fake.md'
    - Package my SAFE app for deployment: 'recipes/build/bundle-app.md'
    - Create a docker image: 'recipes/build/docker-image.md'
  - Dev / Test:
    - Test the Client: 'recipes/developing-and-testing/testing-the-client.md'
    - Test the Server: 'recipes/developing-and-testing/testing-the-server.md'
    - Debug a SAFE app: 'recipes/developing-and-testing/debug-safe-app.md'
    - Use hot reload: 'recipes/developing-and-testing/using-hot-reload.md'
  - Client / Server:
    - Add support for Fable Remoting: 'recipes/client-server/fable-remoting.md'
    - Perform roundtrips with MVU: 'recipes/client-server/mvu-roundtrip.md'
    - Get data from the server: 'recipes/client-server/messaging.md'
    - Post data to the server: 'recipes/client-server/messaging-post.md'
    - Handle server errors on the client: 'recipes/client-server/server-errors-on-client.md'
    - Share code between the client and the server: 'recipes/client-server/share-code.md'
    - Use Giraffe instead of Saturn: "recipes/client-server/saturn-to-giraffe.md"
    - Upload file from the client: "recipes/client-server/upload-file-from-client.md"
    - Serve a file from the back-end: 'recipes/client-server/serve-a-file-from-the-backend.md'
  - Data:
    - Quickly add a database: 'recipes/storage/use-litedb.md'
    - Create a data module using SQLProvider SQL Server SSDT: 'recipes/storage/use-sqlprovider-ssdt.md'
  - UI:
    - Add FontAwesome support: 'recipes/ui/add-fontawesome.md'
    - Add Stylesheet support: 'recipes/ui/add-style.md'
    - Add Bulma support: 'recipes/ui/add-bulma.md'
    - Use different Bulma Themes: 'recipes/ui/use-different-bulma-themes.md'
    - Add Feliz support: 'recipes/ui/add-feliz.md'
    - Migrate from a CDN stylesheet to an NPM package: 'recipes/ui/cdn-to-npm.md'
  - Javascript:
    - Import a JavaScript module: 'recipes/javascript/import-js-module.md'
    - Add Support for a Third Party React Library: 'recipes/javascript/third-party-react-package.md'
  - Package Management:
    - Add an NPM package to the Client: 'recipes/package-management/add-npm-package-to-client.md'
    - Add a NuGet package to the Server: 'recipes/package-management/add-nuget-package-to-server.md'
    - Add a Nuget package to the Client: 'recipes/package-management/add-nuget-package-to-client.md'
    - Migrate to Paket from NuGet: 'recipes/package-management/migrate-to-paket.md'
    - Migrate to NuGet from Paket: 'recipes/package-management/migrate-to-nuget.md'
    - Sync NuGet and NPM Packages: 'recipes/package-management/sync-nuget-and-npm-packages.md'

- FAQs:
  - Moving from dev to prod : 'faq-build.md'
  - Troubleshooting : 'faq-troubleshooting.md'
- Learning Resources:
    - SAFE-Compatible UI Components: 'awesome-safe-components.md'
    - Learning: 'learning.md'
- News: 'news.md'
- Events: 'events.md'
- Support: 'support.md'
- Testimonials: 'testimonials.md'
- Legacy SAFE Template (v2):
    - The FAKE script: 'legacy-template-fake.md'
    - V2 recipes:
      - Upgrade from V1 to V2 : 'v2-recipes/upgrading/v1-to-v2.md'
      - Build:
        - Remove FAKE from my project: 'v2-recipes/build/remove-fake.md'
        - Add build automation: 'v2-recipes/build/add-build-script.md'
        - Package my SAFE app for deployment: 'v2-recipes/build/bundle-app.md'
        - Support older browsers: 'v2-recipes/build/support-older-browsers.md'
        - Create a docker image: 'v2-recipes/build/docker-image.md'
      - Dev / Test:
        - Test the Client: 'v2-recipes/developing-and-testing/testing-the-client.md'
        - Test the Server: 'v2-recipes/developing-and-testing/testing-the-server.md'
        - Debug a SAFE app: 'v2-recipes/developing-and-testing/debug-safe-app.md'
      - Client / Server:
        - Add support for Fable Remoting: 'v2-recipes/client-server/fable-remoting.md'
      - Package Management:
        - Migrate to Yarn from NPM: 'v2-recipes/package-management/migrate-to-yarn.md'