# Project information
site_name: SAFE Documentation
site_description: Documentation for SAFE
site_author: SAFE Stack
site_url: http://safe-stack.github.io/docs/

# Repository
repo_name: SAFE-Stack/docs
repo_url: https://github.com/SAFE-Stack/docs
theme:
  name: "material"
  custom_dir: "theme"
  palette:
    primary: "light blue"
    accent: "indigo"
  logo: img/safe_favicon.png

markdown_extensions:
  - admonition
  - codehilite
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format

extra_css:
  - https://unpkg.com/mermaid@8.7.0/dist/mermaid.css
extra_javascript:
  - https://unpkg.com/mermaid@10.6.1/dist/mermaid.min.js

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/SAFE-Stack
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/safe_stack
    - icon: fontawesome/solid/globe
      link: https://safe-stack.github.io/
  analytics:
    provider: google
    property: G-WED2S9FLSL
    
nav:
  - Home: "index.md"
  - Introduction: "intro.md"
  - Quickstart: "quickstart.md"
  - SAFE Stack:
      - Overview: "overview.md"
      - Components:
          - Learn about Saturn: "components/component-saturn.md"
          - Learn about Azure: "components/component-azure.md"
          - Learn about Fable: "components/component-fable.md"
          - Learn about Elmish: "components/component-elmish.md"
      - Features:
          - Client / Server Sharing:
              - Sharing Overview: "features/feature-clientserver.md"
              - Sharing Types and Code: "features/feature-clientserver-basics.md"
              - Messaging using HTTP: "features/feature-clientserver-http.md"
              - Messaging with Protocols: "features/feature-clientserver-remoting.md"
              - Stateful Messaging through Bridge: "features/feature-clientserver-bridge.md"
              - Serialization in SAFE: "features/feature-clientserver-serialization.md"
          - Server Side Rendering: "features/feature-ssr.md"
          - Hot Module Replacement: "features/feature-hmr.md"
          - Working with Azure functions: "features/feature-azurefunctions.md"
  - The SAFE Template:
      - Overview: "template-overview.md"
      - Commands: "template-safe-commands.md"
  - How do I...:
      - Upgrade from V2 to V3: "recipes/upgrading/v2-to-v3.md"
      - Upgrade from V3 to V4: "recipes/upgrading/v3-to-v4.md"
      - Upgrade from V4 to V5: "recipes/upgrading/v4-to-v5.md"
      - Create a new Recipe: "recipes/template.md"
      - Build:
          - Add build automation: "recipes/build/add-build-script.md"
          - Create a docker image: "recipes/build/docker-image.md"
          - Remove FAKE: "recipes/build/remove-fake.md"
          - Package my SAFE app for deployment: "recipes/build/bundle-app.md"
      - Dev / Test:
          - Test the Client: "recipes/developing-and-testing/testing-the-client.md"
          - Test the Server: "recipes/developing-and-testing/testing-the-server.md"

      - UI:
          - Add Tailwind support: "recipes/ui/add-tailwind.md"
          - Add daisyUI support: "recipes/ui/add-daisyui.md"
          - Add Stylesheet support: "recipes/ui/add-style.md"
          - Add Feliz support: "recipes/ui/add-feliz.md"
          - Add FontAwesome support: "recipes/ui/add-fontawesome.md"
          - Migrate from a CDN stylesheet to an NPM package: "recipes/ui/cdn-to-npm.md"
          - Add routing with state shared between pages: "recipes/ui/add-routing.md"
          - Add routing with separate models per page: "recipes/ui/add-routing-with-separate-models.md"
          - Add Routing with UseElmish: "recipes/ui/routing-with-elmish.md"
      - Storage:
          - Quickly add a database: "recipes/storage/use-litedb.md"
      - JavaScript:
          - Import a JavaScript module: "recipes/javascript/import-js-module.md"
          - Add Support for a Third Party React Library: "recipes/javascript/third-party-react-package.md"
      - Package Management:
          - Add an NPM package to the Client: "recipes/package-management/add-npm-package-to-client.md"
          - Add a NuGet package to the Server: "recipes/package-management/add-nuget-package-to-server.md"
          - Add a NuGet package to the Client: "recipes/package-management/add-nuget-package-to-client.md"
          - Migrate to Paket from NuGet: "recipes/package-management/migrate-to-paket.md"
          - Migrate to NuGet from Paket: "recipes/package-management/migrate-to-nuget.md"
          - Sync NuGet and NPM Packages: "recipes/package-management/sync-nuget-and-npm-packages.md"
      - Client / Server:
          - Use Giraffe instead of Saturn: "recipes/client-server/saturn-to-giraffe.md"
          - Handle server errors on the client: "recipes/client-server/server-errors-on-client.md"
          - Upload file from the client: "recipes/client-server/upload-file-from-client.md"
          - Serve a file from the back-end: "recipes/client-server/serve-a-file-from-the-backend.md"
          - Add support for Fable Remoting: "recipes/client-server/fable-remoting.md"
          - Perform roundtrips with MVU: "recipes/client-server/mvu-roundtrip.md"
          - Get data from the server: "recipes/client-server/messaging.md"
          - Post data to the server: "recipes/client-server/messaging-post.md"
          - Share code between the client and the server: "recipes/client-server/share-code.md"
  - FAQs:
      - Moving from dev to prod: "faq/faq-build.md"
      - Troubleshooting: "faq/faq-troubleshooting.md"
  - Learning Resources:
      - SAFE-Compatible UI Components: "awesome-safe-components.md"
      - Learning: "learning.md"
      - Creating a SAFE Stack App from Scratch: "safe-from-scratch.md"
  - News: "news.md"
  - Events: "events.md"
  - Support: "support.md"
  - Testimonials: "testimonials.md"
  - Legacy recipes (v4):
      - Build:
          - Add build automation: "v4-recipes/build/add-build-script.md"
          - Remove FAKE: "v4-recipes/build/remove-fake.md"
          - Package my SAFE app for deployment: "v4-recipes/build/bundle-app.md"
          - Create a docker image: "v4-recipes/build/docker-image.md"
      - Dev / Test:
          - Test the Client: "v4-recipes/developing-and-testing/testing-the-client.md"
          - Test the Server: "v4-recipes/developing-and-testing/testing-the-server.md"
          - Debug a SAFE app: "v4-recipes/developing-and-testing/debug-safe-app.md"
          - Use hot reload: "v4-recipes/developing-and-testing/using-hot-reload.md"
      - Client / Server:
          - Add support for Fable Remoting: "v4-recipes/client-server/fable-remoting.md"
          - Perform roundtrips with MVU: "v4-recipes/client-server/mvu-roundtrip.md"
          - Get data from the server: "v4-recipes/client-server/messaging.md"
          - Post data to the server: "v4-recipes/client-server/messaging-post.md"
          - Handle server errors on the client: "v4-recipes/client-server/server-errors-on-client.md"
          - Share code between the client and the server: "v4-recipes/client-server/share-code.md"
          - Use Giraffe instead of Saturn: "v4-recipes/client-server/saturn-to-giraffe.md"
          - Upload file from the client: "v4-recipes/client-server/upload-file-from-client.md"
          - Serve a file from the back-end: "v4-recipes/client-server/serve-a-file-from-the-backend.md"
          - Add support for Fable.Forms: "v4-recipes/client-server/fable.forms.md"
      - Data:
          - Quickly add a database: "v4-recipes/storage/use-litedb.md"
          - Create a data module using SQLProvider SQL Server SSDT: "v4-recipes/storage/use-sqlprovider-ssdt.md"
      - UI:
          - Add Stylesheet support: "v-4/recipes/ui/add-style.md"
          - Add FontAwesome support: "v4-recipes/ui/add-fontawesome.md"
          - Add Bulma support: "v4-recipes/ui/add-bulma.md"
          - Use different Bulma Themes: "v4-recipes/ui/use-different-bulma-themes.md"
          - Remove Bulma: "v4-recipes/ui/remove-bulma.md"
          - Add Tailwind support: "v4-recipes/ui/add-tailwind.md"
          - Add daisyUI support: "v4-recipes/ui/add-daisyui.md"
          - Migrate from a CDN stylesheet to an NPM package: "v4-recipes/ui/cdn-to-npm.md"
          - Add routing with state shared between pages: "v4-recipes/ui/add-routing.md"
          - Add routing with separate models per page: "v4-recipes/ui/add-routing-with-separate-models.md"
          - Add Routing with UseElmish: "v4-recipes/ui/routing-with-elmish.md"
      - JavaScript:
          - Import a JavaScript module: "v4-recipes/javascript/import-js-module.md"
          - Add Support for a Third Party React Library: "v4-recipes/javascript/third-party-react-package.md"
      - Package Management:
          - Add an NPM package to the Client: "v4-recipes/package-management/add-npm-package-to-client.md"
          - Add a NuGet package to the Server: "v4-recipes/package-management/add-nuget-package-to-server.md"
          - Add a NuGet package to the Client: "v4-recipes/package-management/add-nuget-package-to-client.md"
          - Migrate to Paket from NuGet: "v4-recipes/package-management/migrate-to-paket.md"
          - Migrate to NuGet from Paket: "v4-recipes/package-management/migrate-to-nuget.md"
          - Sync NuGet and NPM Packages: "v4-recipes/package-management/sync-nuget-and-npm-packages.md"